@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
:root {
  --primary-color:#333;
  --secondary-color:rgba(0,0,0,.125);
  --brand-color:#00aeff;
  --background:#fff;
  --alt-background: #f3f3f3;
}

[data-theme="dark"] {
  --primary-color:#fff;
  --secondary-color:rgb(87,87,87);
  --brand-color:#00aeff;
  --background:#000;
  --alt-background: #222;
}

body {
  background-color: var(--background);
  color: var(--primary-color);
}

a {
  color: var(--brand-color);
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color: var(--primary-color);
}

header {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100vw;
  padding: 1rem 0;
  background-color: var(--alt-background);
}

header .brand {
  max-height: 80px;
  float: left;
  margin-right: 4rem;
}

header nav {
  font-size: 1.5rem;
}

header nav ul {
  margin: 0;
  padding: 0;
}

header nav ul li {
  list-style-type: none;
  display: inline-block;
  line-height: 70px;
  padding-right: 3rem;
}

header .toggle-wrap #toggle-icon .bi {
  font-size: 2rem;
  margin-right: .5rem;
}

header .toggle-wrap .theme-switch {
  display: inline-block;
  height: 2rem;
  position: relative;
  width: 4rem;
  top: .2rem;
}

header .toggle-wrap .theme-switch input {
  display: none;
}

header .toggle-wrap .theme-switch input:checked + .toggle {
  background: var(--brand-color);
}

header .toggle-wrap .theme-switch input:checked + .toggle::before {
  transform: translateX(2.1rem);
}

header .toggle-wrap .theme-switch .toggle {
  background-color: #ccc;
  cursor: pointer;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  transition: .4s;
}

header .toggle-wrap .theme-switch .toggle::before {
  background: #fff;
  bottom: .4rem;
  content: "";
  left: .4rem;
  position: absolute;
  transition: .4s;
  width: 1.25rem;
  height: 1.25rem;
}

header .toggle-wrap .theme-switch .toggle.round {
  border-radius: 1rem;
}

header .toggle-wrap .theme-switch .toggle.round::before {
  border-radius: 1rem;
}

main {
  margin-top: 120px;
  padding-top: 3rem;
}

.hero {
  padding: 4rem 0;
}

.hero .card {
  background-color: var(--alt-background);
  border-color: var(--secondary-color);
}

.hero .card .card-body {
  padding: 1.5rem;
}

.hero .card .card-body form .form-control {
  border-color: var(--secondary-color);
  border-radius: 0;
}

.hero .card .card-body form .form-control, .hero .card .card-body form label {
  margin-bottom: 2rem;
}

.hero .card .card-body form .checkbox-lg input[type="checkbox"] {
  height: 2rem;
  width: 2rem;
  border-color: var(--secondary-color);
}

.hero .card .card-body form .checkbox-lg span {
  position: relative;
  top: -.6rem;
  left: .5rem;
}

.hero .card .card-body form .btn {
  border: none;
  border-radius: 0;
}

.hero .card .card-body form .btn.btn-primary {
  background-color: var(--brand-color);
}

.brands {
  margin: 4rem 0;
  padding: 4rem 2rem;
  border-top: 1px solid var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
}

.brands img {
  width: 80%;
  height: 100px;
  object-fit: scale-down;
  margin: 0 auto;
  display: block;
}

footer {
  padding: 5rem 0;
}

footer a {
  margin: 1rem;
}

.img-light {
  filter: brightness(0) invert(1);
}
